// override me
// WIDTHS
$width-left-col: 56rem; // 70%
$page-width: 100rem;
$width-right-col: $page-width - $width-left-col;

html {
    font-size: 75%; //62.5%;
}

hr {
    border: none; /* Remove default border */
    height: 2px; /* Set thickness */
    background-color: #e7e4e4; /* Set color */
    width: 100%; /* Set width */
    margin: 10px auto; /* Center horizontally and add vertical spacing */
}

.training {
    &__item {
        @include avoid-break;
    }
}

.project {
    &__item {
        @include avoid-break;
    }
}

.activities {
    &__item {
        @include avoid-break;
    }
}

hr.gradient-line {
    border: 0;
    height: 1px; /* Control line thickness */
    background: linear-gradient(
      to right,
      rgba(0,0,0,0) 0%,    /* Start color */
      rgba(0,0,0,0.4) 50%, /* Middle color */
      rgba(0,0,0,0) 100%   /* End color */
    );
    margin: 1rem auto;      /* Vertical spacing */
    width: 100%;           /* Full width */
  }

.mainHeading {
    font-family: 'Allura', cursive; // Added Allura font
    text-transform: capitalize;
    font-size: 4.5rem;
    color: $color-dark;

    & span {
        color: $color-primary;
        text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    }
}

.content {
    &__left {
        float: left;
        width: $width-left-col;
        height: 100%;
        padding: 3rem 4rem;

        @media screen {
            &::after {
                content: '2025 © by Syed Hasibur Rahman   |   ananno.gitlab.io';
                height: 4rem;
                width: 100%;
                position: absolute;
                bottom: 0.5rem;
                color: darken($color-light, 10%);
            }
        }
    }
}