{{ if .Achievements }}
<div id="achievements" class="section">
    <div class="section__heading">
        <h2 class="section__title">
            {{ i18n "achievements" }}
        </h2>
    </div>
    <div class="section__content">
        {{ range $index, $achievement := .Achievements }}
            <div class="achievement__item">
                <h3 class="achievement__title">{{ $achievement.Project | safeHTML }}</h3>
                <h4 class="achievement__company">{{ $achievement.Company | safeHTML }}</h4>
                <h4 class="achievement__date">{{ $achievement.Date | safeHTML }}</h4>
                <div class="achievement__description">{{ $achievement.Details | safeHTML }}</div>
            </div>
            {{ if lt $index (sub (len $.Achievements) 1) }}<hr class="gradient-line">{{ end }}
        {{ end }}
    </div>
</div>
{{ end }}