{{ if .Activities }}
<div id="activities" class="section">
    <div class="section__heading">
        <h2 class="section__title">
            {{ i18n "activities" }}
        </h2>
    </div>
    <div class="section__content">
        {{ range $index, $activity := .Activities }}
            <div class="activity__item">
                <h3 class="activity__title">{{ $activity.Item | safeHTML }}</h3>
                <h4 class="activity__place">{{ $activity.Place | safeHTML }}</h4>
                <h4 class="activity__date">{{ $activity.Date | safeHTML }}</h4>
                <div class="activity__description">{{ $activity.Details | safeHTML }}</div>
            </div>
            {{ if lt $index (sub (len $.Activities) 1) }}<hr class="gradient-line">{{ end }}
        {{ end }}
    </div>
</div>
{{ end }}