{{ if .Diplomas }}
<div class="sideSection">
    <div class="sideSection__heading">
        <h2 class="sideSection__title">{{ i18n "diplomas" }}</h2>
    </div>
    <div class="sideSection__content">
        <ul>
            {{ range .Diplomas }}
            <li style="margin-bottom: 0.5rem;">{{ . | safeHTML }}</li>
            {{ end }}
        </ul>
    </div>
</div>
{{ end }}
