{{ if .Education }}
<div id="education" class="section">
    <div class="section__heading">
        <h2 class="section__title">
            {{ i18n "education" }}
        </h2>
    </div>
    <div class="section__content">
        {{ range $index, $education := .Education }}
            <div class="education__item">
                <h3 class="education__title">{{ $education.Course | safeHTML }}</h3>
                <h4 class="education__place">{{ $education.Place | safeHTML }}</h4>
                <h4 class="education__date">{{ $education.Date | safeHTML }}</h4>
                <div class="education__description">{{ $education.Details | safeHTML }}</div>
            </div>
            {{ if lt $index (sub (len $.Education) 1) }}<hr class="gradient-line">{{ end }}
        {{ end }}
    </div>
</div>
{{ end }}
