{{ if .Projects }}
<div id="projects" class="section">
    <div class="section__heading">
        <h2 class="section__title">
            {{ i18n "projects" }}
        </h2>
    </div>
    <div class="section__content">
        {{ range $index, $project := .Projects }}
            <div class="project__item">
                <h3 class="project__title">{{ $project.Course | safeHTML }}</h3>
                <h4 class="project__place">{{ $project.Place | safeHTML }}</h4>
                <h4 class="project__date">{{ $project.Date | safeHTML }}</h4>
                <div class="project__description">{{ $project.Details | safeHTML }}</div>
            </div>
            {{ if lt $index (sub (len $.Projects) 1) }}<hr class="gradient-line">{{ end }}
        {{ end }}
    </div>
</div>
{{ end }}