{{ if .Skills }}
<div class="sideSection">
    <div class="sideSection__heading">
        <h2 class="sideSection__title">{{ i18n "skills" }}</h2>
    </div>
    <div class="sideSection__content">
        <ul class="skills">
            <li>
                {{ range $index, $skill := .Skills }}
                <ul class="skills__group">
                    <span style="font-weight: bold; font-size: 1.2rem;">{{ $skill.Family | safeHTML }}</span>
                    <br>
                    {{ range $skill.Items }}
                    <li>{{ . | safeHTML }}</li>
                    {{ end }}
                </ul>
                {{ if lt $index (sub (len $.Skills) 1) }}<hr class="gradient-line">{{ end }}
                {{ end }}
            </li>
        </ul>
    </div>
</div>
{{ end }}
