{{ if .Trainings }}
<div id="training" class="section">
    <div class="section__heading">
        <h2 class="section__title">
            {{ i18n "trainings" }}
        </h2>
    </div>
    <div class="section__content">
        {{ range $index, $training := .Trainings }}
            <div class="training__item">
                <h3 class="training__title">{{ $training.Course | safeHTML }}</h3>
                <h4 class="training__place">{{ $training.Place | safeHTML }}</h4>
                <h4 class="training__date">{{ $training.Date | safeHTML }}</h4>
                <div class="training__description">{{ $training.Details | safeHTML }}</div>
            </div>
            {{ if lt $index (sub (len $.Trainings) 1) }}<hr class="gradient-line">{{ end }}
        {{ end }}
    </div>
</div>
{{ end }}
